@font-face {
	font-family: 'Eurostile'; 
	src: local('Eurostile'),
		url('../fonts/Eurostile-Reg.ttf'); 
}

@font-face {
	font-family: 'Eurostile Bold'; 
	src: local('Eurostile Bold'),
		url('../fonts/Eurostile-Bol.ttf'); 
}

@font-face {
	font-family: 'Eurostile Medium'; 
	src: local('Eurostile Bold'),
		url('../fonts/Eurostile-Med.ttf'); 
}

:root {
    --background-color: #485E73;
    --font-color: #E4E3E3;
}

* {
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 85%;
    font-family: "Eurostile", sans-serif;
    background-color: var(--background-color);
    position: relative;
}

a {
    text-decoration: none;
    transition: color .3s;
    color: var(--font-color);
}

.nav-bar a:hover {
    transition: color .3s;
    color: #C93322;
}

p, h1, h2, h3, h4 {
    margin: 0;padding: 0;
    letter-spacing: 1px;
}

section {
    padding: 1rem 9%;
}

/* header */

.nav-bar {
    padding: .7rem 9%;
    position: fixed;
    z-index: 1;
    top: 0;left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
}

.icon-toggler {
    display: none;
    width: 32px;
    height: 32px;
}

a.logo img {
    height: 32px;
    width: 70px;
}

.nav {
    z-index: 2;
}

.nav a {
    margin-left: 2rem;
    font-size: 1.1rem;
}

/* main */

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('../img/fon.jpg') left no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-main {
    height: 100%;
    width: 45%;
}

.logo-app img {
    margin: 3rem -3% 2rem;
    width: 106%;
    height: 60px;
}

.main h1 {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 -5%;
    color: white;
}

.btn {
    margin: 2rem 0;
    padding: 0.7rem 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    text-transform: uppercase;
    font-size: .9rem;
    text-align: center;
    font-weight: 600;
    color: white;
}

.btn:nth-child(2) {
    cursor: pointer;
    transition: background .3s;
}

.btn:nth-child(2):hover {
    transition: background .3s;
    background: rgba(255, 255, 255, 0.4);
}

/* .login, .reg { */
.wrapper {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 10px;
    margin: 0 1px;
    height: 400px;
    overflow: hidden;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    /* box-shadow: 0 0 30px rgba(255, 255, 255, 0.35); */
    border-radius: 20px;
    backdrop-filter: blur(60px);
    transition: left .1s, height .3s;
}

.login, .reg {
    padding: 35px 15px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
}

.login h2, .reg h2 {
    text-align: center;
    font-size: 2rem;
}

.input-box {
    position: relative;
    width: 100%;
    height: 35px;
    border-bottom: 2px solid var(--font-color);
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    padding: 0 35px 0 0;
    background: transparent;
    outline: none;
    border: none;
    caret-color: var(--font-color);
    color: var(--font-color);
}

.input-box label {
    position: absolute;
    top: 30%;
    left: 5px;
    transition: .3s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -15px;
}

.remember-forgot {
    display: flex;
    margin: -10px 0 20px 0;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 500;
}

.remember-forgot a {
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

input[type=checkbox] {
    accent-color: var(--background-color);
    margin-right: 5px;
}

.form-btn {
    width: 100%;
    height: 35px;
    background-color: var(background-color);
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

.login-registr {
    text-align: center;
    font-size: 0.9rem;
    margin: 15px 0 10px;
}

.login-registr p a {
    text-decoration: none;
    font-weight: 600;
}

.login-registr p a:hover {
    text-decoration: underline;
}


.codgen {
    transition: transform .3s;
    padding: 0 15px;
}

/* list */

.main-list {
    min-height: 400px;
    position: relative;
    overflow: hidden;
    display: flex;
    color: #E4E3E3;
}

.icon-close {
    position: absolute;
    top: 0;right: 0;
    width: 40px;height: 40px;
    background-color: var(--font-color);
    border-bottom-left-radius: 20px;
    padding: 6px;
    cursor: pointer;
}

/* slider */

.main-list.active-login .codgen {
    transition: transform .3s;
    transform: translateX(-100%);
}

.main-list.active-reg .codgen {
    transition: transform .3s;
    transform: translateX(-100%);
}

.main-list.active-login .wrapper {
    transition: left .3s, height .3s;
    left: 0;
    height: 370px;
    /* box-shadow: 0 0 30px rgba(255, 255, 255, 0.35); */
}

.main-list.active-reg .wrapper {
    transition: left .3s, height .3s;
    left: 0;
    /* box-shadow: 0 0 30px rgba(255, 255, 255, 0.35); */
}

.main-list.active-login .login {
    transition: left .3s;
    left: 0;
}

.main-list.active-reg .reg {
    transition: .3s;
    left: 0;
}


/* adaptiv */

@media (max-width: 991px) {
    .block-main {
        width: 55%;
    }
    
    .main h1 {
        font-size: 1.3rem;
    }
}

@media (max-width: 776px) {
    .nav a {
        margin-left: 1rem;
    }
    
    .logo-app h1 {
        font-size: 1.2rem;
    }

    .block-main {
        width: 63%;
    }
    
    .main h1 {
        font-size: 1.1rem;
    }

    .block-btn .btn {
        font-size: .8rem;
    } 
}

@media (max-width: 545px) {
    .icon-toggler {
        display: block;
    }

    .nav {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        border-top: 1px solid #000;
        transition: left .3s;
    }

    .nav.nav-active {
        left: 0;
        transition: .3s;
    }

    .nav a {
        display: block;
        margin: .8rem 0 .8rem 9%;
        
    }

    .codgen {
        padding: 0 10px;
    }

    .logo-app h1 {
        font-size: .9rem;
    }

    .block-main {
        width: 70%;
    }

    .block-btn .btn {
        font-size: .55rem;
        letter-spacing: 2px;
    } 
}