<section class="main">
    <div class="block-main">

        <div class="main-list">

                <div class="codgen">
                    <div class="logo-app">
                        <img src="img/logo-app.png" alt="">
                    </div>

                    <h1>Присоединяйся к битве в Standoff 2!</h1>

                    <div class="block-btn">
                        <div class="btn" id="code"> Secret code</div>
                        <div class="btn" id="btn">Нажмите чтобы сгенерировать код</div>
                    </div>
                </div>

            <div class="wrapper">
            <div class="login">
                <span class="icon-close">
                    <!-- icon666.com - MILLIONS vector ICONS FREE --><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m292.2 256 109.9-109.9c10-10 10-26.2 0-36.2s-26.2-10-36.2 0l-109.9 109.9-109.9-109.9c-10-10-26.2-10-36.2 0s-10 26.2 0 36.2l109.9 109.9-109.9 109.9c-10 10-10 26.2 0 36.2 5 5 11.55 7.5 18.1 7.5s13.1-2.5 18.1-7.5l109.9-109.9 109.9 109.9c5 5 11.55 7.5 18.1 7.5s13.1-2.5 18.1-7.5c10-10 10-26.2 0-36.2z" fill="#000000" style="fill: rgb(77, 94, 115);"></path></svg>
                </span>

                <div class="block-input">
                    <h2>Авторизация</h2>
                    <form action="" method="POST">
                        <div class="input-box">
                            <input type="text" required>
                            <label>email</label>
                        </div>
                        <div class="input-box">
                            <input type="password" required>
                            <label>password</label>
                        </div>
                        <div class="remember-forgot">
                            <label><input type="checkbox">Запомнить меня?</label>
                            <a href="#">Забыли пароль?</a>
                        </div>
                        <input type="submit" value="Войти" class="form-btn">
                        <div class="login-registr">
                            <p>Нет аккаунта? <a href="#" class="registr-link">Зарегистироваться</a></p>
                        </div>
                    </form>
                </div>
            </div>

                <div class="reg">
                    <span class="icon-close">
                        <!-- icon666.com - MILLIONS vector ICONS FREE --><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m292.2 256 109.9-109.9c10-10 10-26.2 0-36.2s-26.2-10-36.2 0l-109.9 109.9-109.9-109.9c-10-10-26.2-10-36.2 0s-10 26.2 0 36.2l109.9 109.9-109.9 109.9c-10 10-10 26.2 0 36.2 5 5 11.55 7.5 18.1 7.5s13.1-2.5 18.1-7.5l109.9-109.9 109.9 109.9c5 5 11.55 7.5 18.1 7.5s13.1-2.5 18.1-7.5c10-10 10-26.2 0-36.2z" fill="#000000" style="fill: rgb(77, 94, 115);"></path></svg>
                    </span>

                    <div class="block-input">
                        <h2>Регистрация</h2>
                        <form action="" method="POST">
                            <div class="input-box">
                                <input type="text" required>
                                <label>email</label>
                            </div>
                            <div class="input-box">
                                <input type="password" required>
                                <label>password</label>
                            </div>
                            <div class="input-box">
                                <input type="password" required>
                                <label>confirm password</label>
                            </div>
                            <div class="remember-forgot">
                                <label><input type="checkbox">Ознакомлен с условиями</label>
                            </div>
                            <input type="submit" value="Зарегистрироваться" class="form-btn">
                            <div class="login-registr">
                                <p>Уже есть аккаунт? <a href="#" class="registr-link">Войти</a></p>
                            </div>
                        </form>
                    </div>
                </div>

            </div>    

        </div>

    </div>
</section>